/*
 * @Author: liuchunxiu 
 * @Date: 2018-04-03 11:01:17 
 * @Last Modified by: liuchunxiu
 * @Last Modified time: 2018-04-03 11:30:20
 */
:local(.login-form) {
  max-width: 300px;
  :local(.login-form-forgot){
    float: right;
  }
  :local(.login-form-button){
    width: 100%;
  }
}