@import './variables.styl';
:local(.logo){
    height: 64px;
    padding: 10px;
    background:#002140 url(/assets/logo.svg) no-repeat;
    background-position: 20px 10px;
    background-size: 42px 42px;
    color: #FFF;
    font-size: 18px;
    padding:16px 0 0 80px;
    overflow: hidden;
    text-overflow: clip;
}

:local(.sider-trigger){
    font-size: 24px;
    padding-left: 15px;
    cursor: pointer;
    &:hover{
        color: $highlight-color;
    }
}

