/*
 * @Author: liuchunxiu 
 * @Date: 2018-04-03 11:02:11 
 * @Last Modified by: liuchunxiu
 * @Last Modified time: 2018-04-03 15:30:00
 */
// 强调颜色
$highlight-color = #1890ff

// hover背景色
$hover-backgroud-color = #1890ff36


// 字体大小
$normal-font-size = 12px